body {
  font-family: "Arial", "Meiryo", sans-serif;
}

.decoration {
   font-size: 20px;
  
}
     
.blue {
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203) ;
}

h1{
font-family: "Arial", "Meiryo", sans-serif;
font-size: 2.0em;
   letter-spacing: 1.5em;
  text-shadow: 2px 2px 4px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
html{
   text-align: center;
}
.google-fonts {
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP&display=swap" rel="stylesheet">
}
#basic {
   font-weight: bold;
}